@import "variables";
@import "mixins";

.page-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .link{
      text-decoration: none;
      color:color(medium);
  }
  .port {
    font-size: 1.5em;
  }
  p {
    padding: 0px $xs-padding;
    color: color(dark);
    font-size:1.25em;
    line-height: 1.4em;
    text-align: justify;
    margin: auto;
    max-width: 70ch;
    margin-bottom: 1.5em;
    @media(max-width:600px){
        font-size:1em;
        line-height:1.24em;
      }
  }
  .indent {
    text-indent: 4ch;
  }
}
.card-large {
  @include card-large;
  line-height: 3em;
  .card-title{
      font-weight: bold;
  }
  .card-subtitle{
    font-weight: bold;
  }
}
