@import "variables";

.convert-page-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
}

.card-small {
  @include card-small
}

//form component styling

.form-wrapper {
  display: flex;
  flex-direction: column;
  .form-section {
    padding: $s-padding;
    text-align: center;
    input {
      @include input-mixin;

    }

    label {
      width: 100px;
      display: inline-block;
      color: color(dark);
      font-size: 1.25em;
      text-align: left;
    }
    
    select {
      @include select-mixin;

    }
  }
  button{
    @include submit-button
  }
}
//list component styling
ul{
  padding:$xs-padding;

}
.list-item{
  margin: 0 auto;
  font-size:1em;
  // height:2em;
  color:color(dark);
  display:flex;
  justify-content: space-between;
  width:90%;
  padding:$xxs-padding;
  border-bottom: 2px solid color(medium);
  //.delete-button{
    // visibility:hidden;
  //}
  .delete-item{
    color: color(alert);
    font-size:1em;
  }
  // &::after{
  //   content:"";
  //   height:2px;
  //   background-color: color(medium);
  //   position:absolute;
  //   width:100%;
  // }
}
.no-items{
  color: color(dark)
}

