@import "variables";
@import "mixins";


// ConvertView
.convert-page-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(251, 251, 246, .5);
  height:100%;
  padding:$xlg-padding 0;
}

.card-small {
  @include card-small;
}

//ConversionForm
.form-wrapper {
  display: flex;
  flex-direction: column;
 
  
  .form-section {
    width:100%;
    padding: $s-padding $lg-padding;
    // padding-left:$lg-padding;
    text-align:  left;
    input {
      @include input-mixin;
      width:calc(100% - 100px);
      // flex-grow:1;

      // width: 100%;
      // @media(max-width: 600px){
      //   width: 100%;

      // }
    }
    .checker {
      @include honey-pot
    }

    .convert-label {
      @include form-label;
      font-size: 1.25em;
      width: 100px;
      @media (max-width: 600px) {
        font-size: 1em;
      }
    }

    select {
      @include select-mixin;
      width:calc(100% - 100px);
    }
  }
  button {
    @include small-button;
  }
}
//ConvertedList
ul {
  padding: $xs-padding;
}
.list-item {
  margin: 0 auto;
  font-size: 1em;
  color: color(dark);
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: $xxs-padding;
  border-bottom: 2px solid color(medium);
  .icon-btn {
    padding-left: .75em;
    font-size: 1.5em;
    width:1.5em;
  }
  .edit-item {
    @include edit-btn
  }
  .delete-item {
    @include del-btn
  }
}
.no-items {
  color: color(dark);
}
div.errors{
  h3{
    font-size: 1.5em;
    font-weight: bold;
    color: color(alert);
    text-align:left;
    padding-left: $s-padding;
  }
  li{
    color:color(alert)
  }
  b{
    font-weight: bold;
  }
}
