@import "variables";
@import "mixins";

.footer-wrapper {
  background-color: color(darkest);
  height: 300px;
  width:100%;
  position: absolute;
  bottom: 0;
  footer {
    height:100%;
    display: flex;
    padding: $lg-padding;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .portfolio-link{
    text-decoration:none;
    color:color(medium);
    outline: none;
    font-size:1.2em;

  }
  .github-icon{
    color:color(medium);
    font-size: 2em;
    &:hover {
      color:color(dark-highlight)
    }
  }
}
