@import "variables";


@mixin small-font {
  font-size:1.25em;
  @media(max-width:600px){
    font-size:.9em;
    text-align: center;
  }
  @media(max-width:800px){
    font-size:1em;
  }
  @media(max-width:1100px){
    font-size:1.15em;
  }
}

@mixin medium-font {
  font-size:1.5em;
  @media(max-width:600px){
    font-size:1em;
    text-align: center;
  }
  @media(max-width:800px){
    font-size:1.15em;
  }
  @media(max-width:1100px){
    font-size:1.25em;
  }
}

@mixin large-font {
  font-size:2em;
  @media(max-width:600px){
    font-size:1.25em;
    text-align: center;
  }
  @media(max-width:800px){
    font-size:1.5em;
  }
  @media(max-width:1100px){
    font-size:1.75em;
  }
}

@mixin link-reset {
  text-decoration: none;
  color: color(light);
  outline: none;
  white-space: nowrap;
  border-bottom: 1px solid transparent;
}

//form mixins
@mixin input-mixin {
  background-color: color(white);
  border: none;
  border-radius: 5px;
  
  padding: $xs-padding;
  box-shadow: inset 0px 0px 1px 2px rgba(69, 189, 193, 0.2);
  &:hover {
    outline: none;
    box-shadow: inset 0px 0px 1px 2px rgba(69, 189, 193, 0.4);
  }
  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 1px 2px rgba(69, 189, 193, 0.65);
  }
  &::placeholder {
    color: color(medium);
  }
}

@mixin hover-raise {
  transition-duration: 0.2s;
  &:hover {
    transform: translate(0px, -5px);
  }
}

@mixin select-mixin {
  @include input-mixin;
  text-align:left;
  text-align-last: left;
  -moz-text-align-last: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  color: color(medium);

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  &::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
  }
  option {
    color: color(dark);
    &:disabled {
      color: color(medium);
    }
    &:hover,
    &:focus {
      background: color(medium) !important;
    }
  }
}

@mixin button {
  box-shadow: inset 0px 0px 1px 1px rgba(25, 100, 126, 0.2);
  background-color: color(light);
  color:color(medium);
  margin: 10px;
  border: none;
  width: 80%;
  &:focus {
    outline: none;
  }

  &:not([disabled]){
    @include hover-raise;
    background-color: color(medium);
    color: color(darker);
    box-shadow: inset 0px 0px 1px 1px rgba(25, 100, 126, 0.5);
    &:hover {
      background-color: color(medium-highlight);
      color: color(dark)
    }
  }
}

@mixin large-btn {
  @include large-font;
  @include button;
  padding: $s-padding $lg-padding;
  border-radius: 10px;
}

@mixin small-btn {

  @include medium-font;
  @include button;
  
  padding: $xs-padding $lg-padding;
  border-radius: 5px;

  @media (max-width: 600px) {
    width: 90%;
  }
}

@mixin edit-btn {
  @include hover-raise;
  color: color(dark);
  &:hover {
    color: color(dark-highlight);
  }
}
@mixin del-btn {
  @include hover-raise;
  color: color(alert);
  &:hover {
    color: color(alert-orange);
  }
}

@mixin form-label {
  @include medium-font;
  display: inline-block;
  color: color(dark);
  text-align: left;
  @media (max-width: 600px) {
    font-weight: bold
  }
}
@mixin title {
  @include large-font;
  font-weight:bold;
  // font-size: 2em;
  padding: $m-padding;
  color: color(dark);
  @media(max-width: 1100px) {
    line-height:2em;
    // font-size:1.7em;
  }
  @media(max-width: 600px) {

    line-height:1.5em;
    // font-size:1.25em;
    padding: $xs-padding;
    
  }
}
@mixin subtitle {
  font-size: 1.5em;
  padding: $s-padding;
  color: color(dark);
  color:color(medium);
  line-height: 1.7em;
  @media(max-width: 1100px) {
    line-height:1.5em;
    font-size:1.25em;
    padding: $xs-padding;
  }
  @media(max-width: 600px) {
    line-height:1.25em;
    font-size:1.1em;
    padding: $xxs-padding;
    font-weight:bold;
  }
}

//card mixins
@mixin card-general {
  background: rgb(251, 251, 246);
  background: linear-gradient(
    0deg,
    rgba(251, 251, 246, 1) 0%,
    rgba(255, 255, 211, 0.3) 100%
  );
  border-radius: 5px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);
  @media (max-width: 600px) {
    min-width: 250px;
    width: 90vw;
    min-height: 300px;
  }
  .card-title {
    @include title;
    @media (max-width: 600px) {
      margin: 0;
    }
  }
  .card-subtitle {
    @include subtitle;
  }
  .full {
    width: 90vw;
  }
}

@mixin card-small {
  @include card-general;
  width: 31vw;
  margin: $xs-padding;
  padding-top: $s-padding;
  padding-bottom: $m-padding;
  min-height: 395px;
  min-width: 400px;

}

@mixin card-large {
  @include card-general;
  min-height: 500px;
  width: 70vw;
  padding: $lg-padding;
  margin: 0 $lg-padding;

  // @media(max-width: 1100px){
  //   padding:$m-padding;
  //   margin:$m-padding;
  // }
  @media (max-width: 800px) {
    padding: $m-padding;
    margin:0 $m-padding;
    width: 90vw;
  }
  @media (max-width: 700px) {
    padding: $s-padding;
  }
  @media (max-width: 600px) {
    padding: $xs-padding;
    margin: 0 $xs-padding;
    width: 95vw;
  }
}

@mixin honey-pot {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
