@import "variables";

//form mixins
@mixin input-mixin {
  background-color: color(white);
  border: none;
  border-radius: 5px;

  padding: $xs-padding;
  box-shadow: inset 0px 0px 1px 2px rgba(69, 189, 193, 0.2);
  &:hover {
    outline: none;
    box-shadow: inset 0px 0px 1px 2px rgba(69, 189, 193, 0.4);
  }
  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 1px 2px rgba(69, 189, 193, 0.65);
  }
  &::placeholder {
    color: color(medium);
  }
}

@mixin hover-raise {
  transition-duration: 0.2s;
  &:hover {
    transform: translate(0px, -5px);
  }
}

@mixin select-mixin {
  @include input-mixin;
  text-align:center;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  color: color(medium);

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  &::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
  }
  option {
    color: color(dark);
    &:disabled {
      color: color(medium);
    }
    &:hover,
    &:focus {
      background: color(medium) !important;
    }
  }
}

@mixin submit-button {
  &:not([disabled]){
    @include hover-raise;
    background-color: color(medium);
    color: color(darker);
    box-shadow: inset 0px 0px 1px 1px rgba(25, 100, 126, 0.5);
    &:hover {
      background-color: color(medium-highlight);
      color: color(dark)
    }

  }
  box-shadow: inset 0px 0px 1px 1px rgba(25, 100, 126, 0.2);
  background-color: color(light);
  color:color(medium);
  padding: $xs-padding $lg-padding;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
  width: 50%;
  @media (max-width: 600px) {
    width: 80%;
  }
  &:focus {
    outline: none;
  }
}

@mixin edit-btn {
  @include hover-raise;
  color: color(dark);
  &:hover {
    color: color(dark-highlight);
  }
}
@mixin del-btn {
  @include hover-raise;
  color: color(alert);
  &:hover {
    color: color(alert-orange);
  }
}

@mixin form-label {
  display: inline-block;
  color: color(dark);
  font-size: 1.25em;
  text-align: left;
  @media (max-width: 600px) {
    font-size: 1em;
    font-weight: bold;
  }
}
@mixin title {
  font-size: 2em;
  padding: $m-padding;
  color: color(dark);
  @media(max-width: 1100px) {
    font-size:1.7em;
  }
  @media(max-width: 600px) {
    font-size:1.5em;
    padding: $s-padding
  }
}

//card mixins
@mixin card-general {
  background: rgb(251, 251, 246);
  background: linear-gradient(
    0deg,
    rgba(251, 251, 246, 1) 0%,
    rgba(255, 255, 211, 0.3) 100%
  );
  border-radius: 5px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);
  @media (max-width: 600px) {
    min-width: 250px;
    width: 90vw;
    min-height: 300px;
  }
  .card-title {
    @include title;
    @media (max-width: 600px) {
      padding: $xs-padding;
      font-size: 1.25em;
      font-weight: bold;
      margin: 0;
    }
  }
  .full {
    width: 90vw;
  }
}

@mixin card-small {
  @include card-general;
  width: 31vw;
  margin: $m-padding $xs-padding 0px;
  padding-top: $s-padding;
  padding-bottom: $m-padding;
  min-height: 395px;
  min-width: 400px;
}

@mixin card-large {
  @include card-general;
  min-height: 500px;
  width: 70vw;
  padding: $lg-padding;
  margin: $lg-padding;
  // @media(max-width: 1100px){
  //   padding:$m-padding;
  //   margin:$m-padding;
  // }
  @media (max-width: 800px) {
    padding: $m-padding;
    margin: $m-padding;
    width: 90vw;
  }
  @media (max-width: 700px) {
    padding: $s-padding;
  }
  @media (max-width: 600px) {
    padding: $xs-padding;
    margin: $xs-padding;
    width: 95vw;
  }
}

@mixin honey-pot {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
