@import "variables";
@import "mixins";

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  &.header-nav {
    @media (max-width: 800px) {
      width: 90vw;
    }
    @media (max-width: 600px) {
      max-height: 0px;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      justify-content: space-between;
      padding: $s-padding;
      background-color: color(darker);
      position: absolute;
      top: 60px;
      left: 0;
      height: 100%;
      width: 50px;
      align-items: stretch;
      opacity: 0.95;
      padding: 0;
      width: 0;
      z-index: 2;
      // display:none;
      &.true {
        width: 60vw;
        max-height: 250px;
        padding: $s-padding;
      }
    }
  }
  &.footer-nav {
    justify-content: space-around;
    @media (max-width: 600px) {
      align-items: center;
      margin-top: $s-padding;
    }
  }

  .nav-link {
    @include link-reset;
    @include large-font;
    padding: $xs-padding;
    &:hover {
      border-bottom: 1px solid color(medium);
    }
    @include hover-raise;
    &.header-nav {
      @media (max-width: 600px) {
        border-bottom: 1px solid color(dark);
        &:hover {
          transform: none;
          border-bottom: 1px solid color(light);
        }
      }
    }
    &.footer-nav {
      @include medium-font;
    }
    &.active {
      text-decoration: none;
      color: color(medium);
      outline: none;
      &.footer-nav :hover {
        border-bottom: 1px solid color(medium);
      }
    }
  }
}
