@import "variables";
@import "mixins";

// siteInfoView.jsx
.info-page-wrapper {
  height: auto;
  widows: 100%;
  padding: $lg-padding 0;
  display: flex;
  justify-content: center;
  .github-icon{
    color:color(medium);
    @include hover-raise;
    &:hover {
      color:color(dark-highlight)
    }
  }
  .second{
    padding-bottom: 0;
  }

  p {
    padding: 0px $xs-padding;
    color: color(dark);
    font-size:1.25em;
    line-height: 1.4em;
    text-align: justify;
    margin: auto;
    max-width: 70ch;
    margin-bottom: 1.5em;
    @media(max-width:600px){
      font-size:1em;
      line-height:1.24em;
    }
  }
  .indent {
    text-indent: 4ch;
  }
  span {
    font-weight: bold;
    color: color(medium);
  }
}
