@import "variables";
@import "mixins";

//suggestView.jsx
.page-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $xlg-padding 0;
  .card-med-large {
    @include card-large;
    line-height: 3em;
    text-align: center;
    padding: $lg-padding;
  }
}

//form and card components
.suggestion-wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  .suggestion-section {
    padding: $m-padding;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 800px) {
      padding: $s-padding;
    }
    @media (max-width: 600px) {
      padding: $xs-padding;
      text-align: center;
    }
    &.checkbox {
      input{
        vertical-align: text-top;
        border-color: color(dark);
        background-color: color(white);
        width:1.5em;
        height:1.5em;
      }
      @include small-font;
      flex-wrap: nowrap !important;
      align-items: center;
    }
  
    .suggestion-label {
      @include form-label;
      width: 150px;
      max-width: 100%;
      margin: $xxs-padding;
      line-height: 1;
      @media (max-width: 1100px) {
        width: 100px;
      }
      @media (max-width: 600px) {
        text-align: center;
      }
    }
  }
  // form component only
  form {
    max-width: 100%;
  }
  span {
    line-height: 1.25;
    max-width: 70vw;
    color: color(dark);
  }
  textarea {
    @include input-mixin;
    @include small-font;
    min-width: 300px;
    width: 60%;
    max-width: 90vw;
    @media (max-width: 600px) {
      min-width: 100px;
      width: 100%;
    }
  }
  .checker {
    @include honey-pot;
  }
  .string-input {
    @include input-mixin;
    @include small-font;
    width: 60%;
    max-width: 90vw;
    min-width: 300px;
    @media (max-width: 600px) {
      min-width: 100px;
      width: 100%;
    }
  }

  .submit-button {
    @include large-button;
  }
  // card component only
  .suggestion-text {
    width: 60%;
    min-width: 300px;
    line-height: 1.25em;
    color: color(dark);
  }
  .suggestion-isError {
    font-size: 1em;
    line-height: 1.25em;
    color: color(alert);
  }
  .suggestion-isNotError {
    font-size: 0.9em;
    line-height: 1.25em;
    color: color(dark);
  }
}

//suggestionCard
.icons {
  padding-top: $m-padding;
  float: right;
  font-size:2em;
  @media(max-width: 1100px) {
    font-size:1.7em;
  }
  @media (max-width: 600px) {
    font-size:1.5em;
    padding: $s-padding;
  }
  .icon-btn {
    margin: $xxs-padding;
  }
  .edit-icon {
    @include edit-btn;
  }
  .del-icon {
    @include del-btn;
  }
}

.deleted{
  display:flex;
  justify-content:center;
  align-items:center;
  line-height:1em;

  .warning {
    color: color(alert);
  }
  .reset {
    margin:$xs-padding;

    color: color(alert);
    &:hover {
      color: color(accent);
    }
  }
  
}