@import "variables";
@import "mixins";

.page-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $s-padding;
  .card-med-large {
    @include card-large;
    line-height: 3em;
    width: 60vw;
    text-align: center;
  }
  form {
    max-width: 100%;
  }
}

//suggestion form component
.suggestion-form-wrapper {
  display: inline-block;
  width: auto;

  .submit-button {
    @include submit-button;
  }
}
.suggestion-form-section {
  padding: $m-padding;
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: 1000px) {
    padding: $xs-padding;
  }
  @media(max-width:600px){
    padding:$xxs-padding;
  }
  &.checkbox {
    flex-wrap: nowrap !important;
  }
  span{
    line-height: 1.25;
    max-width:80vw;
  }

  .suggestion-label {
    @include form-label;
    width: 150px;
    max-width: 100%;
    margin: $xxs-padding;
    @media (max-width: 1100px) {
      width: 100px;
    }
  }
  textarea {
    @include input-mixin;
    min-width: 300px;
    width: 50%;
    max-width:90vw;
    // @media(max-width: 600px){
      
    // }
  }
  .email-input {
    @include input-mixin;
    width: 300px;
    max-width:90vw;
  }
}
