$colors: (
  dark: #19647e,
  darker: darken(#19647e, 10%),
  medium: #45bdc1,
  lighter-medium: lighten(#45bdc1,5%),
  light: #ffffd3,
  accent: #ff9115,
  alert: #931621,
  white: #fff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$xxs-padding: 5px;
$xs-padding: 0.5rem;
$s-padding: 1rem;
$m-padding: 2rem;
$lg-padding: 3rem;
$xlg-padding: 10%;

@mixin input-mixin {
  background-color: color(white);
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: $xxs-padding;
  &:hover{
    outline:none;
    box-shadow: inset 0px 0px 1px 2px rgba(69,189,193,0.3)
  }
  &:focus {
    outline:none;
    box-shadow: inset 0px 0px 1px 2px rgba(69,189,193,0.65);
  }
  &::placeholder {
    color: color(dark);
  }

}

@mixin select-mixin {
  @include input-mixin;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  color: color(dark);

  &:-moz-focusring {
    color:transparent;
    text-shadow: 0 0 0 #000;
  }
  &::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
    }
  option{
    color: color(dark);
    &:disabled{
        color:color(medium)
    }
    &:hover, &:focus{
      background: color(medium)!important;
    }
  }
}

@mixin card-small{
  @include card-general;
  width: 31vw;
  margin:$m-padding $xs-padding 0px;
  padding-top: $s-padding;
  padding-bottom: $m-padding;
  min-height:395px;
  min-width:400px;
}

@mixin card-large{
  @include card-general;
  width: 80vw;
  height:50vh;
  padding: $lg-padding;
  // padding-top: $m-padding;
  // padding-bottom: $m-padding;
  margin:$lg-padding;
}

@mixin card-general {
    background: rgb(251, 251, 246);
    background: linear-gradient(
      0deg,
      rgba(251, 251, 246, 1) 0%,
      rgba(255, 255, 211, 1) 100%
    );
    border-radius: 5px;
    box-shadow: 6px 6px 29px 0px rgba(0, 0, 0, 0.75);
  
  .card-title {
    font-size: 2em;
    padding: $m-padding;
    color: color(dark);
  }
  .full{
    width:90vw;
  }
}

@mixin submit-button {
    padding: $xs-padding $lg-padding;
    margin: 10px;
    background-color: color(medium);
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
    width: 50%;
    color: color(darker);
    transition-duration: 0.4s;
    box-shadow: inset 0px 0px 1px 1px rgba(25,100,126,0.5);
    &:hover {
      background-color: color(lighter-medium);
    }
}