$colors: (
  dark: #19647e,
  darker: darken(#19647e, 10%),
  medium: #45bdc1,
  light: #ffffd3,
  accent: #ff9115,
  alert: #931621,
  white: #fff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$xxs-padding: 5px;
$xs-padding: 0.5rem;
$s-padding: 1rem;
$m-padding: 2rem;
$lg-padding: 3rem;

@mixin input-mixin {
  background-color: color(white);
  border: none;
  border-radius: 5px;
  width: 150px;
  &:focus {
    box-shadow: inset 0px 0px 1px 2px rgba(69,189,193,0.65);
  }
  &::placeholder {
    color: color(dark);
  }
}
