$colors: (
  dark: #19647e,
  darker: darken(#19647e, 10%),
  medium: #45bdc1,
  lighter-medium: lighten(#45bdc1,5%),
  light: #ffffd3,
  accent: #ff9115,
  alert: #931621,
  white: #fff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$xxs-padding: 5px;
$xs-padding: 0.5rem;
$s-padding: 1rem;
$m-padding: 2rem;
$lg-padding: 3rem;
$xlg-padding: 10%;
